
<style>
@import url('https://fonts.googleapis.com/css?family=Roboto');
</style>

body {
 font-size: 150%;
 font-family: 'Roboto', sans-serif;
}


p {
 font-size: 150%;
 font-family: 'Roboto', sans-serif;
}

.impress-supported .fallback-message,
.step .notes {
    display: none;
}

.step {
    width: 800px;
}


/* Help popup */

#hovercraft-help {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    color: #EEEEEE;
    font-size: 70%;
    left: 2em;
    bottom: 2em;
    width: 28em;
    border-radius: 1em;
    padding: 1em;
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 100;
    display: block;
    font-family: font-family: 'Source Sans Pro', sans-serif;
}

.impress-enabled #hovercraft-help.hide {
    display: none;
}

#hovercraft-help.disabled {
    display: none;
}

/* Slide numbers */

div#slide-number
{
    bottom: 1em;
    font-size: 5vh;
    position: absolute;
    right: 2.5em;
    text-align: right;
}


@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville|Racing+Sans+One|Satisfy);

body {
    font-size: 150%;
    ffont-family: 'Roboto', sans-serif;;
}

p {
    font-size: 150%;
    font-weight: normal;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}

em {
    font-family: Satisfy;
    font-size: 142%;
}

strong {
    ffont-family: 'Roboto', sans-serif;
    font-size: 127%;
    letter-spacing: -2px;
}

h1, h2, h3, h4 {
    font-weight: normal;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-position: inside;
}

li {
    font-size: 125%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    padding-left: 0.3em;
    line-height: 1.8em;
    list-style-type: circle;
}

a {
    text-decoration: none;
    color: black;
}
